################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/scaTest/bin/Debug/netcoreapp3.1
/scaTest/obj
/scaTest/.vs/scaTest/v16
